@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(6,75,165,1) 59%, rgba(3,150,214,1) 87%, rgba(0,212,255,1) 100%);
    font-family: "Roboto", sans-serif;
 
}
.body_todo{
    width: 350px;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    border: 1px solid rgba(216, 216, 216, 0.461);
    min-height: 300px;
    height: auto;
    margin: auto;
    margin-top: 10%;
    padding: 20px 15px;
    text-align: center;
    color: white;
    border-radius: 6px;
    background-color: rgba(168, 168, 168, 0.147);
    backdrop-filter: blur(10);
    
}
.adder_container{
    margin-top: 15px;

}
.adder_container input{
    padding: 8px 10px;
    border: 2px solid rgb(153, 153, 153);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    background-color: transparent;
    color:  rgb(203, 203, 203);
    font-size: 14px;
}

.adder_container input:focus{
    border: 2px solid rgb(226, 225, 225);
}
.adder_container .save_btn{
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(0, 152, 228);
  
}
.save_btn:active{
    background-color: rgb(0, 134, 201);
}
.print_window{
    width: 100%;

    height: 200px;
    overflow-y: scroll;
    margin-top: 15px;
    padding: 5px;
      
}
.print_window::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: rgba(190, 190, 190, 0.399); 
    border-radius: 5px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(213, 213, 213, 0.399); 
  }


  /* Data viwer style */

  .data_viewer{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-top: 1px solid rgb(189, 189, 189);
    margin-bottom: 5px;
    
  }
  .data_viewer .text input{
    margin-right: 5px;
  }
  .data_viewer .text label{
    font-size: 16px;
   
  }
  .data_viewer .closer{
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
  }
  .data_viewer .closer:active{
    background-color: rgb(176, 0, 0);
  }
  .checked{
    text-decoration: line-through;
    color: rgb(157, 157, 157);
  }